<h1>Panier</h1>

<p >Votre panier s'élève à {{getTotal()}} €</p>
<p class="mb-2"><a class="btn btn-primary btn-large" routerLink="">Retourner à l'accueil</a></p>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <div *ngFor="let product of $forAllBasketProducts | async " class="col">
<!-- <div *ngFor="let product of $forAllBasketProducts | async; trackBy: trackByProductId" class="col"></div> -->
        <app-product [data]="product"/>
    </div>
</div>

<form #basketForm="ngForm" (ngSubmit)="submitForm(basketForm.value)">
    <div class="mb-2">
        <label class="form-label" for="name">Name</label>
        <input ngModel #nameModel="ngModel" id="name" class="form-control is-invalid" name="name" 
        [ngClass]="{ 'is-valid': nameModel.valid, 'is-invalid' : nameModel.invalid}" type="text" required/> 
    </div>
    <div class="mb-2">
        <label class="form-label" for="adress">Adresse</label>
        <textarea ngModel #adressModel="ngModel" id="adress" class="form-control" [class.is-invalid]="adressModel.invalid" [class.is-valid]="adressModel.valid" name="address" type="text" required></textarea>
    </div>
    <div class="mb-2">
        <label class="form-label" for="credit-card">Carte de crédit</label>
        <input ngModel #creditCardModel="ngModel" id="credit-card" class="form-control" placeholder="123-456" name="creditCard" [class.is-invalid]="creditCardModel.invalid" [class.is-valid]="creditCardModel.valid"type="text" pattern="^[0-9]{3}-[0-9]{3}$" required />
    </div>

    <div class="mb-2">
        <button class="btn btn-primary" type="submit" [disabled]="basketForm.invalid">Submit</button>
    </div>
</form>
